" Display relative line numbers from current absolute line number
set number relativenumber
" Emulates vim-surround plugin
set surround
" Ignore case when searching
set ignorecase
" Unless a captial letter is entered
set smartcase

