" print the line number in front of each line
set number
" show the line number relative to the line with the cursor
set relativenumber
" number of command-lines that are remembered
set history=1000
" message on the status line to show current mode
set showmode
" ignore case in search patterns
set ignorecase
" no ignore case when pattern is uppercase
set smartcase
" highlight matches with the last search pattern
set hlsearch

" emulates vim-surround plugin
set surround
"emulates vim-commentary plugin
set commentary
" emulates vim-multiple-cursors plugin
set multiple-cursors 
" join commands will be handled by the IDE's "smart join" feature
set ideajoin

" esc clears last search highlight in normal mode
nnoremap <silent> <Esc> :nohlsearch<CR><Esc>
